@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "carDoctorTheme";
  default: true;
  --color-primary: #FF3811;
  --color-secondary: teal
  themes: light --default, dark --prefersdark, cupcake;

}
